KMtronic-Flow.json
[{"id":"7b74799b.9ec558","type":"tab","label":"Relay Control","disabled":false,"info":""},{"id":"60e833b9.65f6cc","type":"tab","label":"USB-RS232 Relay","disabled":false,"info":""},{"id":"8c2446d4.c75148","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED KMtronic Relays","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2a2e449.431f98","type":"ui_group","z":"","name":"KMtronic 8ch","tab":"2cf8b366.32ab5c","order":2,"disp":true,"width":4,"collapse":true},{"id":"2cf8b366.32ab5c","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5b4df9dc.b08d48","type":"ui_group","z":"","name":"KMtronic 2ch","tab":"51b7f7a6.e8d508","order":2,"disp":true,"width":"4","collapse":true},{"id":"51b7f7a6.e8d508","type":"ui_tab","z":"","name":"Bathroom","icon":"fa-bath","order":2,"disabled":false,"hidden":false},{"id":"3ff06122.f8f25e","type":"ui_tab","z":"","name":"Temperature","icon":"fa-thermometer-full","order":3,"disabled":false,"hidden":false},{"id":"118b42f.f7d9ebd","type":"ui_group","z":"","name":"DS18B20","tab":"3ff06122.f8f25e","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a01e002.a9c92","type":"ui_spacer","name":"spacer","group":"118b42f.f7d9ebd","order":3,"width":1,"height":1},{"id":"d4c5491a.402dc8","type":"ui_spacer","name":"spacer","group":"118b42f.f7d9ebd","order":6,"width":1,"height":1},{"id":"d872db66.7e7db8","type":"ui_spacer","name":"spacer","group":"118b42f.f7d9ebd","order":9,"width":1,"height":1},{"id":"2a9a4a01.cabcb6","type":"modbus-client","z":"","name":"Modbus-TCP-8-Relays","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.199","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"78ead575.5e6ffc","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"24358fb5.bb19e","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 1","label":"KM 1","tooltip":"","group":"d2a2e449.431f98","order":1,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-fire","offcolor":"lime","x":630,"y":134.9999885559082,"wires":[["b58d537a.cb4a3"]],"icon":"node-red/node-changed.png"},{"id":"b58d537a.cb4a3","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":811.5,"y":135.9999885559082,"wires":[["fb3c0c49.b3de4"],["6a66bdf8.51ecd4"]]},{"id":"6a66bdf8.51ecd4","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0100","tls":"","proxy":"","authType":"basic","x":991,"y":157.9999885559082,"wires":[[]]},{"id":"fb3c0c49.b3de4","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0101","tls":"","proxy":"","authType":"basic","x":985,"y":116.99998474121094,"wires":[[]]},{"id":"68bd730.9bd028c","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 2","label":"KM 2","tooltip":"","group":"d2a2e449.431f98","order":2,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-key","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-key","offcolor":"lime","x":621,"y":224.9999885559082,"wires":[["4a3a936f.d0330c"]],"icon":"node-red/node-changed.png"},{"id":"4a3a936f.d0330c","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":802.5,"y":225.9999885559082,"wires":[["93c0493d.dead88"],["4743ea18.9dcc44"]]},{"id":"4743ea18.9dcc44","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0200","tls":"","proxy":"","authType":"basic","x":982,"y":247.9999885559082,"wires":[[]]},{"id":"93c0493d.dead88","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0201","tls":"","proxy":"","authType":"basic","x":978,"y":204.9999885559082,"wires":[[]]},{"id":"842eecfc.0139b","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":801.5,"y":319.9999885559082,"wires":[["6799e0ee.68931"],["955f12f7.26699"]]},{"id":"955f12f7.26699","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0300","tls":"","proxy":"","authType":"basic","x":981,"y":341.9999885559082,"wires":[[]]},{"id":"6799e0ee.68931","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0301","tls":"","proxy":"","authType":"basic","x":977,"y":298.9999885559082,"wires":[[]]},{"id":"63539d23.c6d8e4","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 4","label":"KM 4","tooltip":"","group":"d2a2e449.431f98","order":4,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thermometer-empty","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-thermometer-empty","offcolor":"lime","x":611,"y":408.9999885559082,"wires":[["7287a0ed.29371"]],"icon":"node-red/node-changed.png"},{"id":"7287a0ed.29371","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":792.5,"y":409.9999885559082,"wires":[["21459500.43749c"],["2c70467c.1c763a"]]},{"id":"2c70467c.1c763a","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0400","tls":"","proxy":"","authType":"basic","x":978,"y":430,"wires":[[]]},{"id":"21459500.43749c","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0401","tls":"","proxy":"","authType":"basic","x":977,"y":389,"wires":[[]]},{"id":"b668cd77.03c9f","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 5","label":"KM 5","tooltip":"","group":"d2a2e449.431f98","order":5,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-bath","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-bath","offcolor":"lime","x":606,"y":499.9999885559082,"wires":[["af27993c.f81358"]],"icon":"node-red/node-changed.png"},{"id":"3ca50357.d37dbc","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0500","tls":"","proxy":"","authType":"basic","x":970,"y":521.9999885559082,"wires":[[]]},{"id":"11b93137.d7bbbf","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0501","tls":"","proxy":"","authType":"basic","x":970,"y":481.9999885559082,"wires":[[]]},{"id":"b6a4d337.bb4ae","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":620,"wires":[["6d45a226.8cba9c"],["c91c4edc.3ae2a"]]},{"id":"c91c4edc.3ae2a","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0600","tls":"","proxy":"","authType":"basic","x":976.9999771118164,"y":613.0000915527344,"wires":[[]]},{"id":"6d45a226.8cba9c","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0601","tls":"","proxy":"","authType":"basic","x":980.0000152587891,"y":568.0001029968262,"wires":[[]]},{"id":"80f98649.bf7778","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 7","label":"KM 7","tooltip":"","group":"d2a2e449.431f98","order":7,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-sun-o","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-sun-o","offcolor":"lime","x":603,"y":682.9999885559082,"wires":[["c6013e57.b4d84"]],"icon":"node-red/node-changed.png"},{"id":"c6013e57.b4d84","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":781.5,"y":682.9999885559082,"wires":[["56ccb2d.fc14a4c"],["55ed7c26.d5e164"]]},{"id":"55ed7c26.d5e164","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0700","tls":"","proxy":"","authType":"basic","x":967,"y":704.9999885559082,"wires":[[]]},{"id":"56ccb2d.fc14a4c","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0701","tls":"","proxy":"","authType":"basic","x":967,"y":664.9999885559082,"wires":[[]]},{"id":"f5acb34a.64ab5","type":"ui_switch","z":"7b74799b.9ec558","name":"KMTronic 8","label":"KM 8","tooltip":"","group":"d2a2e449.431f98","order":8,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"KM8","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-snowflake-o","offcolor":"lime","x":607,"y":770.9999885559082,"wires":[["c085b460.cae2f8"]],"icon":"node-red/node-changed.png"},{"id":"c085b460.cae2f8","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":785.5,"y":770.9999885559082,"wires":[["f958f4de.84ddb8"],["56e210c8.3f388"]]},{"id":"56e210c8.3f388","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0800","tls":"","proxy":"","authType":"basic","x":971,"y":792.9999885559082,"wires":[[]]},{"id":"f958f4de.84ddb8","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/FF0801","tls":"","proxy":"","authType":"basic","x":971,"y":752.9999885559082,"wires":[[]]},{"id":"48b145ce.cf3b1c","type":"inject","z":"7b74799b.9ec558","name":"","topic":"KMTronic status query","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":114.01740264892578,"y":199.5660858154297,"wires":[["75901189.7e60e"]]},{"id":"75901189.7e60e","type":"http request","z":"7b74799b.9ec558","name":"Relay Baoard N1","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.206/status.xml","tls":"","proxy":"","authType":"basic","x":303.01739501953125,"y":199.5660858154297,"wires":[["1ca347a.d5332b8"]]},{"id":"1ca347a.d5332b8","type":"xml","z":"7b74799b.9ec558","name":"","property":"payload","attr":"","chr":"","x":142.51741790771484,"y":315.5660858154297,"wires":[["30be288a.97b078"]]},{"id":"30be288a.97b078","type":"function","z":"7b74799b.9ec558","name":"JSON to Relay Status","func":"\nvar relay0 = { payload: msg.payload.response.relay0[0] === \"1\"  };\nvar relay1 = { payload: msg.payload.response.relay1[0] === \"1\"  };\nvar relay2 = { payload: msg.payload.response.relay2[0] === \"1\"  };\nvar relay3 = { payload: msg.payload.response.relay3[0] === \"1\"  };\nvar relay4 = { payload: msg.payload.response.relay4[0] === \"1\"  };\nvar relay5 = { payload: msg.payload.response.relay5[0] === \"1\"  };\nvar relay6 = { payload: msg.payload.response.relay6[0] === \"1\"  };\nvar relay7 = { payload: msg.payload.response.relay7[0] === \"1\"  };\nvar relay8 = { payload: msg.payload.response.relay8[0] === \"1\"  };\n\n\n\nreturn [relay0,relay1,relay2,relay3,relay4,relay5,relay6,relay7,relay8];","outputs":9,"noerr":0,"x":200.51740264892578,"y":414.56607818603516,"wires":[[],["24358fb5.bb19e"],["68bd730.9bd028c"],["79110062.2b6ed"],["63539d23.c6d8e4"],["b668cd77.03c9f"],["8d308ead.1a95d"],["80f98649.bf7778"],["f5acb34a.64ab5"]],"inputLabels":["JSON KMTrol"],"outputLabels":["Relay 0","Relay 1","Relay 2","Relay 3","Relay 4","Relay 5","Relay 6","Relay 7","Relay 8"],"icon":"node-red/parser-xml.png"},{"id":"af27993c.f81358","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":771.0173072814941,"y":509.0104236602783,"wires":[["11b93137.d7bbbf"],["3ca50357.d37dbc"]]},{"id":"79ce33cd.35ccfc","type":"trigger","z":"7b74799b.9ec558","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":760,"y":560,"wires":[["b6a4d337.bb4ae"]]},{"id":"3397d899.c0b228","type":"comment","z":"7b74799b.9ec558","name":"Setup and Requirements","info":"This flow requires from the Pallet Manager\n\nDashboard - node-red-dashboard\n\nEvery http request will have to be edited with the\nIP address of your KMTronic WEB Switch (not UDP\nswitch).  Change 192.168.110.206 ,212 and 202 to the address of you KMTronic board/boards.\nIf you don't have more than one board you can remove the rest.\n\nSwitch 6 is a PTT switch and by pressing it, it will\ntoggle on Switch 6 for 1 second - you can delete\nit if not required\n\nIn the initial setup of your KMtronic switch turn \noff any authetication.  ","x":1226,"y":147,"wires":[]},{"id":"79110062.2b6ed","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 3","label":"KM 3","tooltip":"","group":"d2a2e449.431f98","order":3,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o","offcolor":"lime","x":624,"y":318,"wires":[["842eecfc.0139b"]],"icon":"node-red/node-changed.png"},{"id":"6ffd3a2c.447b34","type":"ui_switch","z":"7b74799b.9ec558","name":"Relay 1","label":"KN 1","tooltip":"","group":"5b4df9dc.b08d48","order":1,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"lime","x":605.4825820922852,"y":962,"wires":[["b97b9cca.8573c"]],"icon":"node-red/node-changed.png"},{"id":"b97b9cca.8573c","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":796.9825820922852,"y":963,"wires":[["c1125ded.a2866"],["8ed816b1.2ede58"]]},{"id":"8ed816b1.2ede58","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.212/FF0100","tls":"","proxy":"","authType":"basic","x":971.4826049804688,"y":986,"wires":[[]]},{"id":"c1125ded.a2866","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.212/FF0101","tls":"","proxy":"","authType":"basic","x":970.4825820922852,"y":943.9999961853027,"wires":[[]]},{"id":"6c1d1248.42e07c","type":"ui_switch","z":"7b74799b.9ec558","name":"Relay 2","label":"KN 2","tooltip":"","group":"5b4df9dc.b08d48","order":2,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"lime","x":596.4825820922852,"y":1052,"wires":[["8fcfc445.f1eb18"]],"icon":"node-red/node-changed.png"},{"id":"8fcfc445.f1eb18","type":"switch","z":"7b74799b.9ec558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":787.9825820922852,"y":1053,"wires":[["f562d9ed.dc4248"],["8c45cedf.a28c5"]]},{"id":"8c45cedf.a28c5","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.212/FF0200","tls":"","proxy":"","authType":"basic","x":971.4826049804688,"y":1079,"wires":[[]]},{"id":"f562d9ed.dc4248","type":"http request","z":"7b74799b.9ec558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.212/FF0201","tls":"","proxy":"","authType":"basic","x":972.4826049804688,"y":1033,"wires":[[]]},{"id":"7f4fdf5d.e7dd","type":"inject","z":"7b74799b.9ec558","name":"","topic":"KMTronic status query","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":129.49998474121094,"y":983.5660934448242,"wires":[["527d2de4.1a75e4"]]},{"id":"527d2de4.1a75e4","type":"http request","z":"7b74799b.9ec558","name":"Relay Board N2","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.212/status.xml","tls":"","proxy":"","authType":"basic","x":347.49998474121094,"y":982.5660934448242,"wires":[["681ea28a.f06ecc"]]},{"id":"681ea28a.f06ecc","type":"xml","z":"7b74799b.9ec558","name":"","property":"payload","attr":"","chr":"","x":118,"y":1046.5661029815674,"wires":[["f57c699e.4a7b48"]]},{"id":"f57c699e.4a7b48","type":"function","z":"7b74799b.9ec558","name":"JSON to Relay Status","func":"\nvar relay0 = { payload: msg.payload.response.relay0[0] === \"1\"  };\nvar relay1 = { payload: msg.payload.response.relay1[0] === \"1\"  };\nvar relay2 = { payload: msg.payload.response.relay2[0] === \"1\"  };\n\nreturn [relay0,relay1,relay2];","outputs":3,"noerr":0,"x":324.99998474121094,"y":1106.5660400390625,"wires":[[],["6ffd3a2c.447b34"],["6c1d1248.42e07c"]],"inputLabels":["JSON KMTrol"],"outputLabels":["Relay 0","Relay 1","Relay 2","Relay 3","Relay 4","Relay 5","Relay 6","Relay 7","Relay 8"],"icon":"node-red/parser-xml.png"},{"id":"8d308ead.1a95d","type":"ui_switch","z":"7b74799b.9ec558","name":"KMtronic 6","label":"KM 6 - 1s","tooltip":"","group":"d2a2e449.431f98","order":6,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-car","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-car","offcolor":"lime","x":588,"y":557,"wires":[["79ce33cd.35ccfc"]],"icon":"node-red/node-changed.png"},{"id":"6af92ffe.4ec04","type":"inject","z":"7b74799b.9ec558","name":"","topic":"KMTronic status query","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":124.49998474121094,"y":1290.5660400390625,"wires":[["923d33f8.883cd"]]},{"id":"923d33f8.883cd","type":"http request","z":"7b74799b.9ec558","name":"Temperature Board","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.202/status.xml","tls":"","persist":false,"proxy":"","authType":"basic","x":151.49996948242188,"y":1353.5660400390625,"wires":[["5b31b748.907c48"]]},{"id":"5b31b748.907c48","type":"xml","z":"7b74799b.9ec558","name":"","property":"payload","attr":"","chr":"","x":317,"y":1352.566162109375,"wires":[["4330f715.34fd78"]]},{"id":"4330f715.34fd78","type":"function","z":"7b74799b.9ec558","name":"JSON to Relay Status","func":"\nvar temp1 = { payload: msg.payload.response.sensor[0].temp[0]};\nvar temp2 = { payload: msg.payload.response.sensor[1].temp[0]};\nvar temp3 = { payload: msg.payload.response.sensor[2].temp[0]};\nvar temp4 = { payload: msg.payload.response.sensor[3].temp[0]};\n\nreturn [temp1,temp2,temp3,temp4];","outputs":4,"noerr":0,"x":541,"y":1408.5660400390625,"wires":[["9971562b.ef4e38","98ee3550.a12f38"],["82d176dd.0f4ed8","4f6ad42e.cee58c"],["21f0c794.e86118","926ea5dc.c9c658"],["dfbff4f9.5c6858","856143fe.bf8d6"]],"inputLabels":["JSON KMTrol"],"outputLabels":["Relay 0","Relay 1","Relay 2",""],"icon":"node-red/parser-xml.png"},{"id":"9971562b.ef4e38","type":"ui_gauge","z":"7b74799b.9ec558","name":"Temp1","group":"118b42f.f7d9ebd","order":1,"width":0,"height":0,"gtype":"gage","title":"Boiler","label":"units","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":783.5,"y":1237,"wires":[]},{"id":"82d176dd.0f4ed8","type":"ui_gauge","z":"7b74799b.9ec558","name":"Temp2","group":"118b42f.f7d9ebd","order":4,"width":0,"height":0,"gtype":"gage","title":"Office 1","label":"units","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":1318,"wires":[]},{"id":"21f0c794.e86118","type":"ui_gauge","z":"7b74799b.9ec558","name":"Temp3","group":"118b42f.f7d9ebd","order":7,"width":0,"height":0,"gtype":"gage","title":"Office 3","label":"units","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":775,"y":1401,"wires":[]},{"id":"dfbff4f9.5c6858","type":"ui_gauge","z":"7b74799b.9ec558","name":"Temp4","group":"118b42f.f7d9ebd","order":10,"width":0,"height":0,"gtype":"gage","title":"Store","label":"units","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":772,"y":1499,"wires":[]},{"id":"856143fe.bf8d6","type":"ui_chart","z":"7b74799b.9ec558","name":"Temp_4","group":"118b42f.f7d9ebd","order":11,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1529,"wires":[[]]},{"id":"926ea5dc.c9c658","type":"ui_chart","z":"7b74799b.9ec558","name":"Temp_3","group":"118b42f.f7d9ebd","order":8,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":782,"y":1434,"wires":[[]]},{"id":"4f6ad42e.cee58c","type":"ui_chart","z":"7b74799b.9ec558","name":"Temp_2","group":"118b42f.f7d9ebd","order":5,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":789,"y":1349,"wires":[[]]},{"id":"98ee3550.a12f38","type":"ui_chart","z":"7b74799b.9ec558","name":"Temp_1","group":"118b42f.f7d9ebd","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":789.5,"y":1270,"wires":[[]]},{"id":"67b22881.a00108","type":"inject","z":"7b74799b.9ec558","name":"Reset","topic":"```","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":572.5,"y":1305,"wires":[["98ee3550.a12f38","4f6ad42e.cee58c","926ea5dc.c9c658","856143fe.bf8d6"]]},{"id":"89b67345.052e7","type":"inject","z":"60e833b9.65f6cc","name":"RL1_ON","topic":"","payload":"[\"0xFF\",\"0x01\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344.00001525878906,"y":60,"wires":[["199c8f71.9d3451"]]},{"id":"3a823ba8.7d9d64","type":"inject","z":"60e833b9.65f6cc","name":"RL1_OFF","topic":"","payload":"[\"0xFF\",\"0x01\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344.00001525878906,"y":92.99999809265137,"wires":[["199c8f71.9d3451"]]},{"id":"199c8f71.9d3451","type":"serial out","z":"60e833b9.65f6cc","name":"USB8REL","serial":"78ead575.5e6ffc","x":754.3367919921875,"y":393.5763854980469,"wires":[]},{"id":"eac1bd2.d98cf4","type":"inject","z":"60e833b9.65f6cc","name":"RL2_ON","topic":"","payload":"[\"0xFF\",\"0x02\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344.8959045410156,"y":143.8888921737671,"wires":[["199c8f71.9d3451"]]},{"id":"85f00e06.1159a","type":"inject","z":"60e833b9.65f6cc","name":"RL2_OFF","topic":"","payload":"[\"0xFF\",\"0x02\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344.8959045410156,"y":175.8888874053955,"wires":[["199c8f71.9d3451"]]},{"id":"8602c29f.d056d","type":"inject","z":"60e833b9.65f6cc","name":"RL3_ON","topic":"","payload":"[\"0xFF\",\"0x03\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":342,"y":229,"wires":[["199c8f71.9d3451"]]},{"id":"3f65751a.187a1a","type":"inject","z":"60e833b9.65f6cc","name":"RL3_OFF","topic":"","payload":"[\"0xFF\",\"0x03\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":342,"y":260.9999952316284,"wires":[["199c8f71.9d3451"]]},{"id":"b37c4814.83ca08","type":"inject","z":"60e833b9.65f6cc","name":"RL4_ON","topic":"","payload":"[\"0xFF\",\"0x04\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":341,"y":314,"wires":[["199c8f71.9d3451"]]},{"id":"4b17b58e.d2858c","type":"inject","z":"60e833b9.65f6cc","name":"RL4_OFF","topic":"","payload":"[\"0xFF\",\"0x04\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":341,"y":345.9999952316284,"wires":[["199c8f71.9d3451"]]},{"id":"1d6275ca.f6866a","type":"inject","z":"60e833b9.65f6cc","name":"RL5_ON","topic":"","payload":"[\"0xFF\",\"0x05\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":400,"wires":[["199c8f71.9d3451"]]},{"id":"e87e017c.2f56","type":"inject","z":"60e833b9.65f6cc","name":"RL5_OFF","topic":"","payload":"[\"0xFF\",\"0x05\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":431.9999952316284,"wires":[["199c8f71.9d3451"]]},{"id":"9900d0d8.a0bce","type":"inject","z":"60e833b9.65f6cc","name":"RL6_ON","topic":"","payload":"[\"0xFF\",\"0x06\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":339,"y":489,"wires":[["199c8f71.9d3451"]]},{"id":"2ee088c0.0de278","type":"inject","z":"60e833b9.65f6cc","name":"RL6_OFF","topic":"","payload":"[\"0xFF\",\"0x06\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":339,"y":520.9999952316284,"wires":[["199c8f71.9d3451"]]},{"id":"35b6bc9.c858d44","type":"inject","z":"60e833b9.65f6cc","name":"RL7_ON","topic":"","payload":"[\"0xFF\",\"0x07\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":337,"y":579,"wires":[["199c8f71.9d3451"]]},{"id":"3622a7fa.19a468","type":"inject","z":"60e833b9.65f6cc","name":"RL7_OFF","topic":"","payload":"[\"0xFF\",\"0x07\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":337,"y":610.9999952316284,"wires":[["199c8f71.9d3451"]]},{"id":"c2f9dbef.3d20f8","type":"inject","z":"60e833b9.65f6cc","name":"RL8_ON","topic":"","payload":"[\"0xFF\",\"0x08\",\"0x01\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":334,"y":671,"wires":[["199c8f71.9d3451"]]},{"id":"71f6410a.e8984","type":"inject","z":"60e833b9.65f6cc","name":"RL8_OFF","topic":"","payload":"[\"0xFF\",\"0x08\",\"0x00\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":334,"y":702.9999952316284,"wires":[["199c8f71.9d3451"]]}]